layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="system" {
        pane split_direction="horizontal" {
            pane size="40%" split_direction="vertical" {
                pane size="50%" command="bash" {
                    args "-c" "fastfetch; read"
                }
                pane size="30%" command="cava"
                pane size="20%" command="tty-clock" {
                    args "-c" "-C" "7"
                }
            }
            pane size="60%" {
                command "btop"
            }
        }
    }
    tab name="dev" {
        pane split_direction="vertical" {
            pane size="30%" {
                command "yazi"
                cwd "/home/sxiks/proyectos"
            }
            pane size="70%" split_direction="horizontal" {
                pane size="60%" {
                    command "/home/sxiks/.config/zellij/git-panel.sh"
                }
                pane size="40%" {
                    command "/home/sxiks/bin/gitui"
                    cwd "/home/sxiks/proyectos_sena/frontend-fundamentals"
                }
            }
        }
    }
    tab name="agent-code" {
        pane split_direction="vertical" {
            pane size="30%" {
                command "yazi"
                cwd "/home/sxiks/proyectos"
            }
            pane size="70%" {
                command "opencode"
            }
        }
    }
}
